/*DEFINICIONES DE LOS ESTILOS*/
.formulario{
	margin-right: 10px;
	margin-left: 10px;
	color: rgba(175, 0, 5, 0.85);
}
.carta{
	margin-left: 10px;
	margin-right: 10px;
	color: rgba(175, 0, 5, 0.85);
}